* {
  margin: 0%;
  padding: 0%;
  max-width: 100%;
  box-sizing: border-box ; 
}

p {
  text-transform: none;
  font-size: 100%;
  color: #584b4b; }

.titulo {
  color: #0e0a09;
  font-size: 50px;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  margin: 8%; }
  img {
    position: relative;
    left: 25px;
  }

.head {
  background-color: #07142f; }

.logoo {
  text-align: center; }

/* En los siguienytes integro flex box*/
.perfil {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
 }

.nombre {
  display: flex;
  justify-content: start;
  position: absolute;
  top: 0px; }

.buscar {
  font-size: 10px;
  background-color: #07142f;
  text-align: right; }

.pais {
  color: black;
  /* Unidad de medida obsoluta o box model*/
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  top: 150px; }

.nnav {
  background-color: #fdfdfd; }

section nav ul li {
  font-family: 'Londrina Solid', cursive;
  display: flex;
  color: #070707;
  font-size: 20px;
  text-decoration-line: none;
  text-align: center; }

.colombia {
  color: white;
  font-size: 20;
  text-align: start;
  margin: 10px;
 }

.nombre {
  color: #f80404;
  font-size: 180%;
  text-transform: capitalize;
  padding: 1%;
  text-align: start;
  margin: 10px;
 }

.derecha {
  text-align: center;
  position: relative;
  top: -543px;
  left: 0px; }

footer {
  background-color: #07142f;
  color: white; }

h2 {
  text-align: center; }

.correo {
  text-align: center; }

.enlaces {
  text-align: left;
  margin: 10px; }

.pp {
  color: white;
  text-align: center;
  font-size: 15px;
  text-decoration-line: overline; }

.image1 {
  position: relative;
  right: 400px;
  top: -200px; }

.menu {
  margin: 8px;
  display: flex;
  justify-content: center;
  font-size: 25px; }

.de {
  display: inline-block;
  margin: 20px;
  position: relative;
  top: 0px;
  font-size: 25px; }

.support {
  position: fixed;
  bottom: 0;
  right: 0%; }

.izquierda {
  text-align: center;
  position: relative;
  top: 50px;
  margin: 20px;
  font-size: 25px; }

.izquierdaa {
  text-align: left;
  margin: 10%;
   }
   .wts {
    left: 20px;
    padding: 19px;
   }

.foott {
  text-align: left;
  margin: 10px;
  font-size: 20px; }

.finanzas {
  text-transform: uppercase;
  color: #5a4d4d;
  text-align: center; }

.imp {
  position: relative;
  left: 450px;
  top: -740px;
  font-size: 140%; }

.video1 {
  position: relative;
  left: 1100px;
  top: -650px; }

.f1 {
  justify-content: center;
  font-family: 'Londrina Solid', cursive;
}
.vid {
    text-align: start;
    font-size: 25px;
    margin: 15px;
}


.line {
  display: grid;
  height: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas: "b1 b5"
 "b2 b6"
 "b3 b7"
 "b4 b8"; }

.fiv1 {
  margin: 9%; }

.rock {
  height: 80px;
  width: auto;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center; }

/* En este incluyo flex box*/
.izquierdaa {
  text-align: left;
  margin: 20px;
  /*Integro box model/*/ }

.img {
  position: relative;
  left: 450px;
  top: -600px;
  transition: all 0.5s ease-in-out; }

.img:hover {
  transform: scale(1.05); }

/*GRID*/
.valoress {
  display: grid;
  border: 5px solid black;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between; }

.gric1 {
  flex-grow: initial;
  justify-self: stretch; }

.gric2 {
  flex-grow: inherit;
  justify-self: stretch; }

.gric3 {
  justify-self: stretch;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px; }

.support:hover {
  transform: translate(-100px, -50px) scale(1.5); }

.support {
  transition: all 1s ease-in-out;
  padding: 10px;
 }

.de:hover {
  transform: scale(1.4); }

.de {
  transition: all 1s; }

.con {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 35px;
  margin-bottom: 2%; }

.conver:hover {
  transform: scale(1.2); }

.conver {
  transition: all 0.8s; }

.conversor {
  display: flex;
  justify-content: center;
  background-color: #d6e5f6;
  font-size: 25px; }

.conver {
  margin: 5%; 
color: black;
}

.gridd {
  display: grid;
  height: 100%;
  grid-template-rows: 200px 600px;
  grid-template-columns: 25% 70%;
  gap: 10px;
  grid-template-areas: "uno dos"
 "uno tres";
  margin-bottom: 100px;
  padding: 0%;
  max-width: 100%;
 }

.grid-uno:first-child {
  grid-area: uno; }

.grid-uno:nth-child(2) {
  grid-area: dos; }

.grid-uno:nth-child(3) {
  grid-area: tres; }

.grid-uno button nav div {
  width: 100%;
  height: 100%; }

.fiv1:first-child {
  grid-area: b1; }

.fiv1:nth-child(2) {
  grid-area: b2; }

.fiv1:nth-child(3) {
  grid-area: b3; }

.fiv1:nth-child(4) {
  grid-area: b4; }

.fiv1:nth-child(5) {
  grid-area: b5; }

.fiv1:nth-child(6) {
  grid-area: b6; }

.fiv1:nth-child(7) {
  grid-area: b7; }

.fiv1:nth-child(8) {
  grid-area: b8; }

.tecno {
  text-align: center;
  color: brown; }

.importa-producto {
  position: relative;
  left: 500px;
  font-family: 'Londrina Solid', cursive; }

.text-conver {
  margin-top: 150px; }

.button-ok {
  color: green; }

.button-not {
  color: white; }

.logo {
  background-color: #080706; }

footer {
  background-color: #07142f;
  color: white; }
  footer h2 {
    text-align: left; }
    footer h3 {
      text-align: center; }
  footer div {
    text-align: center; }
  .button-x {
      background-color: #092e7e ;
      color: white;
      }
.izquierd {
display: flex;
justify-content: right;
margin: 2% ;
transition: all 0.3s ease-in-out;
}
.izquierd:hover {
  transform: scale(1.5); }

.com {
  text-decoration: none;
  text-transform: none;
}

nav
div {
  text-decoration: noneborder-radius 1px -wedkit-border-radius 1px -moz-border-radius 1px -ms-border-radius 1px; }

h1 {
  font-size: 4em; }
