* {
  margin: 0%;
  padding: 0%;
  max-width: 100%;
  box-sizing: border-box ; 
}

p {
  text-transform: none;
  font-size: 100%;
  color: #584b4b; }

.titulo {
  color: #0e0a09;
  font-size: 50px;
  text-align: center;
  font-family: 'Londrina Solid', cursive;
  margin: 8%; }
  img {
    position: relative;
    left: 25px;
  }

.head {
  background-color: #07142f; }


/* En los siguienytes integro flex box*/

section nav ul li {
  font-family: 'Londrina Solid', cursive;
  display: flex;
  color: #070707;
  font-size: 20px;
  text-decoration-line: none;
  text-align: center; }

.colombia {
  color: white;
  font-size: 1.25em;
  text-align: start;
  margin: 10px;
 }

.nombre {
  color: #f80404;
  font-size: 180%;
  text-transform: capitalize;
  padding: 1%;
  text-align: start;
  margin: 10px;
 }

.derecha {
  text-align: center;
  position: relative;
  top: -543px;  
  left: 0px; }

footer {
  background-color: #07142f;
  color: white; }

h2 {
  text-align: center;
padding: 50px; }

.correo {
  text-align: center; }

.enlaces {
  text-align: left;
 }

.pp {
  color: white;
text-align: end;
  font-size: 0.9375em;
  text-decoration-line: overline; }

.de {
  display: inline-block;
  margin: 20px;
  position: relative;
  top: 0px;
  font-size: 1.4em; }

.support {
  position: fixed;
  bottom: 0;
  right: 0%; }

.izquierda {
  text-align: center;
  position: relative;
  top: 50px;
  margin: 20px;
  font-size: 1.4em; }

.izquierdaa {
  text-align: left;
  margin: 10%;
   }

.foott {
  text-align: left;
  padding: 2%;
  font-size: 1.10em; 
margin-left: 2%;}

.finanzas {
  text-transform: uppercase;
  color: #5a4d4d;
  text-align: center; }

.f1 {
  justify-content: center;
  font-family: 'Londrina Solid', cursive;
}

/* En este incluyo flex box*/
.izquierdaa {
  text-align: left;
  margin: 20px;
  /*Integro box model/*/ }

.img {
  position: relative;
  left: 80px;
}

/*GRID*/
.valoress {
  display: grid;
  border: 5px solid black;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between; }
.vid {
  text-align: start;
  font-family: 'Londrina Solid', cursive;
  font-size: 25px;
  margin-top: 7%;
  margin-bottom: 2%;
}

.de:hover {
  transform: scale(1.4); }

.de {
  transition: all 1s; }

.con {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2.1875em;
  margin-bottom: 2%; }

.conver:hover {
  transform: scale(1.2); }

.conver {
  transition: all 0.8s; }

.conversor {
  display: flex;
  justify-content: center;
  background-color: #d6e5f6;
  font-size: 25px; }

.conver {
  margin: 5%; 
color: black;
}

.importa-producto {
position: relative;
position: relative;
left: 20%;
}

.button-ok {
  color: green; }

.button-not {
  color: white; }

.logo {
  background-color: #080706; }

footer {
  background-color: #07142f;
  color: white; }
  footer h2 {
    text-align: left; }
    footer h3 {
      text-align: center;
    margin-top: 6%; }
  footer div {
    text-align: center; }
  .button-x {
      background-color: #092e7e ;
      color: white;
      }
.izquierd {
display: flex;
justify-content: right;
margin: 2% ;
transition: all 0.3s ease-in-out;
}
.izquierd:hover {
  transform: scale(1.5); }

.com {
  text-decoration: none;
  text-transform: none;
}

nav
div {
  text-decoration: noneborder-radius 1px -wedkit-border-radius 1px -moz-border-radius 1px -ms-border-radius 1px; }

h1 {
  font-size: 4em; }
  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
    
