@import "general";
@import "color";
@import "variables"; 


.logo {
    background-color: rgb(8, 7, 6);

}
footer {
    background-color: rgb(7, 20, 47); color: white;
    h2 {
        text-align: left;} 

    div {
        text-align: center;}
      
    }
   
    
        
    
    
    
    
    
    
    