@import "general";
@import "color";
@import "variables"; 


.logo {
    background-color: rgb(8, 7, 6);

}
footer {
    background-color: rgb(7, 20, 47); color: white;
    h2 {
        text-align: center;} 

    div {
        text-align: left;}
      
    }   
nav

div{
text-decoration: none 
+border-radius 1px

-wedkit-border-radius 1px
-moz-border-radius 1px
-ms-border-radius 1px
}

//maps

$headings: (
h1: 4em,
h2: 3em,
h3: 2em,
h4: 1em,
h5: 0.75em,
h6: 0.35em
);
$h1: map-get($headings, h1);

h1 {
    font-size: $h1;
}



   
    
        
    
    
    
    
    
    
    